<h1> Atualizando o Departamento</h1>

<%= render 'form', departamento: @departamento %>
<br>

<%= link_to 'Mostrar', @departament, class:"btn btn-default" %> 
<%= link_to 'Voltar', departamentos_path, class:"btn btn-default" %>
